@model NovoCuidar2024.Models.Utente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Ficha do Utente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-9">
            <div style="max-height:100px; max-width:100px">
                <img src="~/uploads/@Html.DisplayFor(model => model.Foto)" />
            </div>
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class="col-sm-3">
            Contacto de Email
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ContactoEmail)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DocIdentificacaoNum)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DocIdentificacaoNum)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SegurancaSocialNum)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SegurancaSocialNum)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DocIdentificacaoValidade)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DocIdentificacaoValidade)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ContactoEmail)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ContactoEmail)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ContactoTelemovel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ContactoTelemovel)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DocIdentificacaoNum)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DocIdentificacaoNum)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DocIdentificacaoTipo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DocIdentificacaoTipo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DocIdentificacaoValidade)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DocIdentificacaoValidade)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FamiliaId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FamiliaId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Habilitacoes)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Habilitacoes)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HabitacaoPartilhada)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HabitacaoPartilhada)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HabitacaoTipo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HabitacaoTipo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdInterno)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IdInterno)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OrigemContacto)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OrigemContacto)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ResponsavelTecnicoId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ResponsavelTecnicoId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SegurancaSocialNum)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SegurancaSocialNum)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Vivencia)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Vivencia)
        </dd>
    </dl>
    <div style="padding-bottom : 20px;">
        <table>
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>

                </td>
            </tr>
        </table>
        <h4>Moradas do Utente</h4>
        <hr />

        @if (ViewBag.Morada != null && ViewBag.Morada.Count > 0)
        {
            int i = 0;
            @foreach (var c in ViewBag.Morada)
            {
                <dl class="row">
                    <dt class="col-sm-3">
                        <p>Id</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.Morada[i].Id
                    </dd>
                    <dt class="col-sm-3">
                        <p>UtenteId</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.Morada[i].UtenteId
                    </dd>
                    <dt class="col-sm-3">
                        <p>Morada</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.Morada[i].Morada
                    </dd>
                    <dt class="col-sm-3">
                        <p>Código Postal</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.Morada[i].CodPostal
                    </dd>
                    <dt class="col-sm-3">
                        <p>Localidade</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.Morada[i].Localidade
                    </dd>
                    <dt class="col-sm-3">
                        <p>Concelho</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.Morada[i].Concelho
                    </dd>
                    <dt class="col-sm-3">
                        <p>Andar</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.Morada[i].Andar
                    </dd>
                    <dt class="col-sm-3">
                        <p>Fração</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.Morada[i].Fracao
                    </dd>
                    <dt class="col-sm-3">
                        <p>Número de Porta</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.Morada[i].NumPorta
                    </dd>
                    <dt class="col-sm-3">
                        <p>País</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.Morada[i].Pais
                    </dd>
                    <dd>
                        <a href="@Url.Action("Delete", "MoradaUtentes", new { id = @ViewBag.Morada[i].Id })" class="btn btn-sm btn-danger">X</a>
                    </dd>
                </dl>
                <table>
                    <tr>
                        <td>
                            <div class="form-group">
                                <a href="@Url.Action("Edit", "MoradaUtentes", new { id = @ViewBag.Morada[i].Id })" class="btn btn-sm btn-info">Editar</a>
                            </div>
                        </td>
                    </tr>
                </table>

                i++;
            }
        }
        else
        {
            <div>Ainda não tem Moradas associadas.</div>
        }

        <div style="padding-bottom:20px">
            <table>
                <td>
                    <div class="form-group">
                        <a href="@Url.Action("Add", "MoradaUtentes", new { utenteId = @ViewBag.Utente.Id })" class="btn btn-sm btn-primary">Adicionar</a>
                    </div>
                </td>
            </table>
        </div>
        <h4>Contacto Prioritário</h4>
        <hr />
        @if (ViewBag.ContactoPrioritario != null && ViewBag.ContactoPrioritario.Count > 0)
        {
            int i = 0;
            @foreach (var c in ViewBag.ContactoPrioritario)
            {
                <dl class="row">
                    <dt class="col-sm-3">
                        <p>Id</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Id
                    </dd>
                    <dt class="col-sm-3">
                        <p>NIF</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Nif
                    </dd>
                    <dt class="col-sm-3">
                        <p>Número de Porta</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].NumPorta
                    </dd>
                    <dt class="col-sm-3">
                        <p>Utente Id</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].UtenteId
                    </dd>
                    <dt class="col-sm-3">
                        <p>Parentesco</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Parentesco
                    </dd>
                    <dt class="col-sm-3">
                        <p>País</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Pais
                    </dd>
                    <dt class="col-sm-3">
                        <p>Nome</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Nome
                    </dd>
                    <dt class="col-sm-3">
                        <p>Telefone</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Telefone
                    </dd>
                    <dt class="col-sm-3">
                        <p>Email</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Email
                    </dd>
                    <dt class="col-sm-3">
                        <p>Morada</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Morada
                    </dd>
                    <dt class="col-sm-3">
                        <p>Código Postal</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].CodPostal
                    </dd>
                    <dt class="col-sm-3">
                        <p>Localidade</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Localidade
                    </dd>
                    <dt class="col-sm-3">
                        <p>Descrição</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Descricao
                    </dd>
                    <dt class="col-sm-3">
                        <p>Andar</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Andar
                    </dd>
                    <dt class="col-sm-3">
                        <p>Ativo</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Ativo
                    </dd>
                    <dt class="col-sm-3">
                        <p>Fração</p>
                    </dt>
                    <dd class="col-sm-9">
                        @ViewBag.ContactoPrioritario[i].Fracao
                    </dd>
                </dl>

                <div style="padding-bottom:20px">
                    <table>
                        <td>
                            <a href="@Url.Action("Edit", "ContactoPrioritario", new { id = @ViewBag.ContactoPrioritario[i].Id })" class="btn btn-sm btn-info">Editar</a>
                            @* <div class="form-group">
                    <input type="submit" value="Ediar" class="btn btn-sm btn-info" href="@Url.Action("Edit", "ContactoPrioritario")" />
                    </div> *@
                        </td>
                        <td>
                            <div class="form-group">
                                <a href="@Url.Action("Delete", "ContactoPrioritario", new { id = @ViewBag.ContactoPrioritario[i].Id })" class="fa fa-trash"></a>
                                @* <input type="submit" value="Remover" class="btn btn-sm btn-danger" /> *@
                            </div>
                        </td>
                    </table>
                </div>

                i++;
            }
        }
        else
        {
            <div>Ainda não tem Contactos Prioritários associados.</div>
        }

        <div style="padding-bottom:20px">
            <table>
                <td>
                    <div class="form-group">
                        @* <p>
                        <a asp-action="Add">Adicionar</a>
                        </p> *@
                        <a href="@Url.Action("Add", "ContactoPrioritario", new { utenteId = @ViewBag.Utente.Id })" class="btn btn-sm btn-primary">Adicionar</a>

                        @* <a href="@Url.Action("Add", "ContactoPrioritario")" class="btn btn-sm btn-primary">Adicionar</a> *@
                    </div>
                </td>
            </table>
        </div>
        <h4>Sub Sistemas</h4>
        <hr />
        @if (ViewBag.SubSistema != null && ViewBag.SubSistema.Count > 0)
        {
            int i = 0;
            @foreach (var c in ViewBag.SubSistema)
            {
                <dl class="row">
                    <dd class="col-sm-3">
                        @ViewBag.SubSistema[i].Nome
                    </dd>
                    <dd class="col-sm-3">
                            <a href="@Url.Action("Delete", "SubSistemas", new { id = @ViewBag.SubSistema[i].Id })" class="btn btn-sm btn-danger">X</a>
                    </dd>
                </dl>
                i++;
            }
        }
        else
        {
            <div>Ainda não tem Sub Sistemas associados.</div>
        }
        <div style="padding-bottom : 20px;">
            <table>
                <td>
                    <div class="form-group">
                        <a href="@Url.Action("Add", "SubSistemas", new { utenteId = @ViewBag.Utente.Id })" class="btn btn-sm btn-primary">+</a>
                    </div>
                </td>
            </table>
        </div>
        <h4>Dados Clínicos</h4>
        <hr />
        @if (ViewBag.DadosClinicos != null)
        {
            <dl class="row">
                <dt class="col-sm-3">
                    Centro de Saúde
                </dt>
                <dd class="col-sm-9">
                    @ViewBag.DadosClinicos.CentroSaude
                </dd>
                <dt class="col-sm-3">
                    Médico Assistente
                </dt>
                <dd class="col-sm-9">
                    @ViewBag.DadosClinicos.MedicoAssistente
                </dd>
                <dt class="col-sm-3">
                    Número de Utente de Saúde
                </dt>
                <dd class="col-sm-9">
                    @ViewBag.DadosClinicos.NumUtenteSaúde
                </dd>
                <dt class="col-sm-3">
                    Grupo Sanguineo
                </dt>
                <dd class="col-sm-9">
                    @ViewBag.DadosClinicos.GrupoSanguineo
                </dd>
                <dt class="col-sm-3">
                    Centro de Saúde
                </dt>
                <dd class="col-sm-9">
                    @ViewBag.DadosClinicos.CentroSaude
                </dd>
                <dt class="col-sm-3">
                    Alergias
                </dt>
                <dd class="col-sm-9">
                    @ViewBag.DadosClinicos.Alergias
                </dd>
                <dt class="col-sm-3">
                    Restricões Alimentares
                </dt>
                <dd class="col-sm-9">
                    @ViewBag.DadosClinicos.RestricoesAlimentare
                </dd>
                <dt class="col-sm-3">
                    Patologias
                </dt>
                <dd class="col-sm-9">
                    @ViewBag.DadosClinicos.Patologias
                </dd>
                <dt class="col-sm-3">
                    Informacões Complementares
                </dt>
                <dd class="col-sm-9">
                    @ViewBag.DadosClinicos.InformacoessComplementares
                </dd>
                <dt class="col-sm-3">
                    Resumo Clinico
                </dt>
                <dd class="col-sm-9">
                    @ViewBag.DadosClinicos.ResumoClinico
                </dd>
            </dl>
        }
        else
        {
            <div>Ainda não tem Dados Clínicos associados.</div>
        }
        <div style="padding-bottom : 20px;">
            <table>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Ediar" class="btn btn-sm btn-info" />
                    </div>
                </td>
            </table>
        </div>
    </div>
    <div>
        <a href="javascript:history.go(-1)" class="btn btn-secondary">Voltar</a>
    </div>
</div>