@model IEnumerable<NovoCuidar2024.Models.Utente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeApelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsavelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TecnicoResponsavelId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomePrincipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeApelido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponsavelId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TecnicoResponsavelId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.SubSistema)
                </td> *@
            </tr>
        }
    </tbody>
</table>
