@model IEnumerable<NovoCuidar2024.ViewModel.UtentesViewModel>

@{
    ViewData["Title"] = "Index";
}
<head>
    <title>Get Text from Textbox</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h1>Utentes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar</a>
</p>

<br />

<table class="col col-12">
    <thead>
        <tr>
            <th class="col col-2">
            </th>
            <th style="font-size: 12px;" class="col col-1">
                <input type="radio" id="radio1" name="custom-radio" class="radio-custom">
                <a href="@Url.Action("Index", "Utentes", new { activo = "false" })" id="option1">Ativos</a>
            </th>
            
            <th style="font-size: 12px;" class="col col-1">
                <input type="radio" id="radio2" name="custom-radio" class="radio-custom">
                <a href="@Url.Action("Index", "Utentes", new { activo = "true" })" id="option2">Não Ativos</a>
            </th>
            <th class="col col-2">
                <input class="form-control-sm" type="text" id="responsavelInput" onkeyup="procuraResponsavel()" placeholder="Procurar por nome">
            </th>
            <th class="col col-2">
                <input class="form-control-sm" type="text" id="tecnicaInput" onkeyup="procuraTecnica()" placeholder="Procurar por técnica">
            </th>
            <th class="col col-2">
                <input class="form-control-sm" type="text" id="zona1Input" onkeyup="procuraServico()" placeholder="Procurar por serviço">
            </th>
            <th class="col col-1">
                <input class="form-control-sm" type="text" id="zona2Input" onkeyup="procuraTipologia()" placeholder="Procurar por tipologia">
            </th>
            <th class="col col-1"></th>
        </tr>
    </thead>
</table>

<script>
    function procuraResponsavel() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("responsavelInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableUtentes");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function procuraTecnica() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("tecnicaInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableUtentes");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function procuraServico() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("zona1Input");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableUtentes");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function procuraTipologia() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("zona2Input");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableUtentes");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tableUtentes').on('input', function () {
            var filterText = $(this).val().toLowerCase();
            $('.contentItem').each(function () {
                var content = $(this).text().toLowerCase();
                if (content.includes(filterText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>
<table class="table" id="tableUtentes" col col-12>
    <thead>
        <tr>
            <th class="col col-1">
            </th>
            <th class="col col-2">
                Estado
            </th>
            <th class="col col-2">
                Nome
            </th>
            <th class="col col-2">
                Técnica
            </th>
            <th class="col col-2">
                Serviço
            </th>
            <th class="col col-2">
                Tipologia de Contrato
            </th>
            <th class="col col-1">  
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.OrderByDescending(x => x.Id))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    

                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeTecnica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Periodicidade)
                    </td>
                    <td>
                        <img src="~/uploads/@Html.DisplayFor(modelItem => item.Foto)" style="max-height=50px; max-width:50px;" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-folder" style="margin:2px;" title="Criar"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-bars" style="margin:2px;" title="Detalhes"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" style="margin:2px;" title="Eliminar"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
