@model IEnumerable<NovoCuidar2024.ViewModel.UtentesViewModel>

@{
    ViewData["Title"] = "Index";
}
<head>
    <title>Get Text from Textbox</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h1>Utentes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar</a>
</p>
@* <div style="margin-bottom:5px">
    <label class="btn btn-sm btn-secondary" style="margin-right:1px;" type="check">
        <a href="@Url.Action("Index", "Utentes", new { activo = "false" })" id="option1">Ativos</a>
    </label>
    <label class="btn btn-sm btn-secondary" style="margin-left:1px;" type="check">
        <a href="@Url.Action("Index", "Utentes", new { activo = "true" })" id="option2">Não Ativos</a>
    </label>
</div> *@
<br />
<label>Responsável</label>

<input type="checkbox" id="myCheckbox" onclick="handleCheckboxChange(this)">

<script>
    function handleCheckboxChange(checkbox) {
        if (checkbox.checked) {
            fetch('/Utentes/Index');
        } else {
            fetch('/Utentes/Index');
        }
    }
</script>

<input type="text" id="responsavelInput" onkeyup="procuraResponsavel()" placeholder="Procurar por responsável">

<script>
    function procuraResponsavel() {
        console.log("nome");
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("responsavelInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableUtentes");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function procuraTecnica() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("tecnicaInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableUtentes");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function procuraZona1() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("zona1Input");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableUtentes");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function procuraZona2() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("zona2Input");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableUtentes");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[7];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


    document.getElementById('activa').addEventListener('change', function () {
            if (this.checked) {
                alert("Checkbox is checked.");
                // Additional code for when the checkbox is checked
            } else {
                alert("Checkbox is unchecked.");
                // Additional code for when the checkbox is unchecked
            }
        });
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tableUtentes').on('input', function () {
            var filterText = $(this).val().toLowerCase();
            $('.contentItem').each(function () {
                var content = $(this).text().toLowerCase();
                if (content.includes(filterText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>
<input type="text" id="responsavelInput" onkeyup="procuraResponsavel()" placeholder="Procurar por Nome">

<table class="table" id="tableUtentes">
    <thead>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                Ativo<input type="checkbox" id="activa" onclick="change())" />
            </td>
            <td>
            </td>
            <td>
                <input type="text" id="tecnicaInput" onkeyup="procuraTecnica()" placeholder="Procurar por Técnica">
            </td>
            <td>
                <input type="text" id="zona1Input" onkeyup="procuraZona1()" placeholder="Procurar por Serviço">
            </td>
            <td>
                <input type="text" id="zona2Input" onkeyup="procuraZona2()" placeholder="Procurar por Tipologia de Contrato">
            </td>
        </tr>
        <tr>

            <th>
            </th>
            <th>
            </th>
            <th>
                Estado
            </th>
            <th>
                Nome
            </th>
            <th>
                Técnica
            </th>
            <th>
                Serviço
            </th>
            <th>
                Tipologia de Contrato
            </th>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.OrderByDescending(x => x.Id))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <img src="~/uploads/@Html.DisplayFor(modelItem => item.Foto)" style="max-height=50px; max-width:50px;" />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeTecnica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Periodicidade)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-folder" style="margin:2px;" title="Criar"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-bars" style="margin:2px;" title="Detalhes"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" style="margin:2px;" title="Eliminar"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
