@model IEnumerable<NovoCuidar2024.ViewModel.UtentesViewModel>

@{
    ViewData["Title"] = "Removed";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h1>Removidos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeTecnica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodicidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeTecnica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodicidade)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-bars" style="margin:2px;" title="Detalhes"></i></a>
                    <a asp-action="Revert" asp-route-id="@item.Id"><i class="fa fa-bars" style="margin:2px;" title="Reverter"></i></a>
                </td>
                @*             <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="javascript:history.go(-1)" class="btn btn-secondary">Voltar</a>
</div>