@model NovoCuidar2024.Models.ServicoContratado

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que pretende eliminar?</h3>
<div>
    <h4>Servico Contratado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UtenteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UtenteId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServicoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContratoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContratoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Periodicidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Periodicidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorDia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorSemana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorSemana)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorMes)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <table>
            <tr>
                <td>
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </td>
                <td>
                    <a href="javascript:history.go(-1)" class="btn btn-secondary">Voltar</a>
                </td>
            </tr>
        </table>
    </form>
</div>
