@model IEnumerable<NovoCuidar2024.Models.ServicoContratado>

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h1>Serviço Contratado</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UtenteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodicidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorSemana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorMes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UtenteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServicoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContratoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodicidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorDia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorSemana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorMes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-folder" style="margin:2px;" title="Criar"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-bars" style="margin:2px;" title="Detalhes"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" style="margin:2px;" title="Eliminar"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
