@model IEnumerable<NovoCuidar2024.Models.DadosSociais>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UtenteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RespostaSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApoioSolicitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutrosApoios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResumoSocial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UtenteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespostaSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApoioSolicitado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutrosApoios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResumoSocial)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
