@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    @{
        // var data = ViewBag.Message;
    }

    <div id="divUtentes" class="align-content-start" style="margin:50px">
        <h4>Número de utentes ativos</h4>
        @* <h5>@data.numeroUtentes</h5>  *@

        <button onclick="location.href='@Url.Action("Index", "Utentes")'" class="btn btn-primary">Listar Todos os Utentes</button>

        <button onclick="location.href='@Url.Action("Create", "Utentes")'" class="btn btn-primary">Criar Novos Utentes</button>

    </div>
    
    @* <div id="divServicos" class="col-6" style="margin:10px">
        <h5>Últimos Serviços Contratados</h5>
        <div id="servicosRecentes">
            <table class="table">
                <tr>
                    <td>
                        <h5>@data.Utente1</h5>
                    </td>
                    <td>
                        <h5>@data.Servico1</h5>
                    </td>
                    <td>
                        <h5>@data.Periodicidade1</h5>
                    </td>
                    <td>
                        <h5>@data.DataInicio1</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>@data.Utente2</h5>
                    </td>
                    <td>
                        <h5>@data.Servico2</h5>
                    </td>
                    <td>
                        <h5>@data.Periodicidade2</h5>
                    </td>
                    <td>
                        <h5>@data.DataInicio2</h5>
                    </td>
                <tr>
                    <td>
                        <h5>@data.Utente3</h5>
                    </td>
                    <td>
                        <h5>@data.Servico3</h5>
                    </td>
                    <td>
                        <h5>@data.Periodicidade3</h5>
                    </td>
                    <td>
                        <h5>@data.DataInicio3</h5>
                    </td>
                </tr>
            </table>
        </div>
        <div id="listaServicos" align="left">
            <button onclick="location.href='@Url.Action("Index", "ServicoContratado")'" class="btn btn-primary">Listar Todos os Serviços</button>
            <button onclick="location.href='@Url.Action("Create", "ServicoContratado")'" class="btn btn-primary">Criar Novo Serviço</button>
        </div>
    </div> *@
</div>
