@model NovoCuidar2024.Models.DadosClinicos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DadosClinicos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtenteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtenteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroSaude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroSaude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoAssistente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicoAssistente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumUtenteSaúde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumUtenteSaúde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoSanguinio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoSanguinio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alergias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alergias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestricoesAlimentare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestricoesAlimentare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patologias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patologias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InformacoessComplementares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InformacoessComplementares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumoClinico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumoClinico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
