@model NovoCuidar2024.Models.LinhaOrcamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LinhaOrcamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrcamentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrcamentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtenteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtenteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a href="javascript:history.go(-1)" class="btn btn-secondary">Voltar</a>
</div>
