@model NovoCuidar2024.Models.LinhaEscala

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Linha de Escala</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuidadoraId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuidadoraId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoContratadoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoContratadoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorReceberInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorReceberInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorReceberAtualizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorReceberAtualizado)
        </dd>
    </dl>
</div>
<div>
    <div>
        <a href="javascript:history.go(-1)" class="btn btn-secondary">Voltar</a>
    </div>
</div>
