@model IEnumerable<NovoCuidar2024.Models.LinhaEscala>

@{
    ViewData["Title"] = "Index";
}

<h1>Linhas de Escala</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CuidadoraId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicoContratadoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorReceberInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorReceberAtualizado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CuidadoraId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicoContratadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorReceberInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorReceberAtualizado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
